menu "OneNET Configuration"
    config ONENET_PRODUCT_ID
        string "Product ID"
        default ""
        help
            product id of onenet

    config ONENET_DEV_ID
        string "Device ID"
        default ""
        help
            device id of onenet

    config ONENET_KEY
        string "API key"
        default ""
        help
            api key of onenet

    config ONENET_AUTH_INFO
        string "Auth info"
        default ""
        help
            auth info of onenet
    
endmenu